.header {
    height: 50px;
    background-color: grey;
}

.content {
    height: 35px;
    background-color: rgb(54, 52, 52);
}

.nav-link {
    color: whitesmoke;
    margin-left: 25px;
}

h3 {
    color: black;
    font-size: 30px;
    margin-top: 35px;
    margin-left: 15px;
}

.row-billing_info {
    margin-left: 50px;
}

.checkout-info {
    margin-top: 30px;
}

.bill-info {
    background-color: grey;
    padding-bottom: 25px;
    width: 100%
}

.Order-sum {
    background-color: grey;
    padding-bottom: 50px;
}

h5 {
    margin-left: 15px;
    padding-top: 10px;
    font-size: 25px;
}

.form-control {
    margin-top: 20px;
    margin-left: 20px;
    width: 90%;
    font-size: 13px;
    padding-bottom: 5px;
}

h6 {
    font-size: 13px;
    margin-left: 10px;
    margin-top: 10px;
}

.name-form {
    margin-top: 8px;
    padding-left: 18px;
    font-size: 11px;
}

.cost-sum {
    margin-top: 20px;
}

.cost-sum1 {
    margin-top: 20px;
    margin-left: 50px;
}

.text-name {
    margin-top: 10px;
    margin-left: 18px;
}

.text-form {
    margin-top: 10px;
    margin-left: 18px;
}

.sub-head {
    float: left;
    margin-top: 7px;
}

.form-control1 {
    padding-bottom: 4px;
    padding-top: 2px;
}

.check-info {
    padding-top: 10px;
}

.sub-button {
    margin-top: 10px;
    margin-left: 10px;
}

.footer-info {
    padding-bottom: 10px;
    background-color: rgb(31, 29, 29);
    margin-top: 100px;
    margin-bottom: 10px;
}

.fot-info {
    color: white;
}