.nav-head {
    background-color: grey;
    padding-bottom: 10px;
}

.nav-info {
    color: black;
    padding-left: 15px;
}

.nav-list {
    margin-left: 875px;
    padding-top: 5px;
    font-weight: 600;
}

.toll-head {
    font-size: 11px;
    font-weight: 800;
    margin-top: 7px;
}

.num-head {
    color: rgb(207, 9, 9);
}

.sec-head {
    margin-top: 5px;
}

.choose-veh {
    margin-top: 10px;
}

.nav-banner {
    background-color: rgb(8, 7, 7);
    padding-bottom: 20px;
    margin-top: 25px;
}

.banner-info {
    color: white;
    padding-left: 30px;
    font-weight: bold;
}

.nav-banner nav {
    padding-top: 15px;
    position: relative;
}

.order-info {
    position: absolute;
    top: 10px;
    left: 900px;
    color: white;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.cart-img {
    position: absolute;
    left: 82%;
    top: 0px;
    font-size: 34px;
    color: white;
}

.ord-info {
    position: absolute;
    left: 86%;
    top: 0px;
    color: white;
    margin-bottom: 15px;
}

.feat-text {
    text-align: center;
    color: rgb(48, 44, 44);
    font-weight: 300;
}

.car-name {
    font-weight: 600;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 14px;
    padding-bottom: 10px;
    text-align: center;
}

.car-name1 {
    font-weight: 600;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 14px;
    padding-bottom: 10px;
}

.feat-cat {
    margin-top: 30px;
    padding-bottom: 20px;
}

.carousel-control.right {
    background: unset;
}

.carousel-control.left {
    background: unset;
}

.carousel-indicators {
    bottom: -16px;
}

.carousel-indicators .active {
    background-color: black;
}

.carousel-indicators li {
    border-color: black;
}

.carousel-control .glyphicon-chevron-right {
    color: black;
}

.carousel-control .glyphicon-chevron-left {
    color: black;
}

.feat-event {
    margin-top: 20px;
    padding-bottom: 20px;
}

.lates-news {
    margin-top: 20px;
    padding-bottom: 20px;
}

.footer {
    background-color: rgb(243, 243, 243);
}

.foot-head h5 {
    font-weight: bold;
    padding-top: 10px;
    color: rgb(136, 10, 10);
}

.foot-img {
    padding-top: 20px;
}

.store-time {
    padding-top: 5px;
}

.sub-foot {
    padding-top: 2px;
}

.add-sale {
    padding-top: 5px;
}

.about-head h6 {
    color: grey;
    padding-top: 5px;
    font-size: 13px;
}

.header {
    position: relative;
}

.sub-head {
    position: absolute;
    left: 4%;
    top: 35px;
}

.sub-head h6 {
    margin-top: -30px;
    margin-left: 30px;
    font-weight: 600;
}

.sub-head h5 {
    margin-top: -10px;
    margin-left: 30px;
    font-weight: 700;
    color: rgb(122, 8, 8);
}

.account-head {
    position: absolute;
    left: 43%;
    top: 35px;
}

.account-head h6 {
    margin-top: -30px;
    margin-left: 30px;
    font-weight: 600;
}

.account-head h5 {
    margin-top: -10px;
    margin-left: 30px;
    font-weight: 700;
    color: rgb(122, 8, 8);
}

.cart-img h5 {
    margin-top: -50px;
    margin-left: 39px;
    font-weight: 700;
}

.cart-img h6 {
    margin-top: -10px;
    margin-left: 39px;
    font-weight: 600;
}

.last-banner {
    background-color: black;
    padding-bottom: 1px;
    margin-bottom: 10px;
}

.last-banner h6 {
    font-weight: 600;
    text-align: center;
    padding-top: 15px;
    color: white;
}

.row {
    margin: 0;
}